In [66]:
import pandas as pd  # for data handling
import matplotlib.pyplot as plt  # for visualization
import re  # for regular expressions
plt.rc('figure', figsize=(10, 6))

#### Methods for Pre Processing

In [67]:

def load(f: str) -> pd.DataFrame:
    """
    Loads an Excel file and returns its contents as a Pandas DataFrame.
    
    Args:
        f (str): The name of the file to be loaded. It must be an Excel file with a valid extension (xlsx, xls, xlm).
    
    Returns:
        pd.DataFrame: DataFrame containing the contents of the Excel file.
    
    Raises:
        ValueError: If the file format is not supported or the file does not have an appropriate extension.
    """
    pattern = r'.*\.(xlsx|xls|xlsm|xlm)$'
    if re.match(pattern, f):
        df = pd.read_excel(f)
        return df
    else:
        raise ValueError("File format is not supported. Please provide a valid Excel file (xlsx, xls, xlm).")

In [68]:
def detail_report(df: pd.DataFrame):
    """
    Generates and prints a detailed report of the given Pandas DataFrame. 

    This includes:
    - Printing the number of rows and columns.
    - Displaying the first 10 rows of the DataFrame.
    - Displaying the last 10 rows of the DataFrame.
    - Showing the information (e.g., column types, non-null counts, etc.) of the DataFrame.

    Args:
        df (pd.DataFrame): The DataFrame for which the details need to be generated.
    """

    rows, cols = df.shape
    print('\n Rows - {0} and Columns - {1} \n'.format(rows, cols))
    print('--------- First 10 Rows ------------')
    display(df.head(10))  # first 10 rows of the data frame

    print('--------- Last 10 Rows -------------')
    display(df.tail(10))  # last 10 rows of the data frame

    print('--------- DataFrame Info ----------')
    display(df.info())  # information about the data frame

    print('---------- describe ---------')
    display(df.iloc[:, 1:].describe())

In [69]:
def replace_blank_with_zero(df: pd.DataFrame) -> pd.DataFrame:
    """
    Replaces blank spaces, certain patterns, and NaN values with zero in a given DataFrame.

    Args:
        df (pd.DataFrame): The DataFrame to be processed.

    Returns:
        pd.DataFrame: The cleaned DataFrame with blank spaces, '--', and NaN values replaced by 0.
    
    Steps:
        1. Compares the original DataFrame with the cleaned one.
        2. Displays rows that changed after the operation.
        3. Replaces the following patterns with 0.
        4. Displays the cleaned DataFrame.
    """

    # Create a copy of the original DataFrame
    original_df = df.copy()

    # Define a function for identifying blank spaces or '--'
    is_blank_or_invalid = lambda x: bool(re.match(r'^\s*$', str(x))) or x == '--'

    # Replace invalid values with 0
    cleaned_df = df.replace([r'^\s*$', '--'], 0, regex=True).fillna(0)

    # Identify and display rows that changed after the operation
    changed_rows = original_df[~original_df.eq(cleaned_df).all(axis=1)]
    print(' -------- Rows Changed (After Replacement) ------- ')
    display(changed_rows)

    print('----------- Cleaned Data Frame ------------')
    display(cleaned_df)
    return cleaned_df

In [70]:
def duplicate_rows(df: pd.DataFrame) -> pd.DataFrame:

    """
    Identifies and removes duplicate rows from the given DataFrame.

    Args:
        df (pd.DataFrame): The DataFrame to check for duplicates.

    Returns:
        pd.DataFrame: The DataFrame with duplicate rows removed.

    Steps:
        1. Count and display the number of duplicate rows.
        2. Remove duplicate rows from the DataFrame.
        3. Display the resulting DataFrame after duplicates are removed.
    """
    # Debug: Original data
    print("Original DataFrame (before duplicate removal):")
    display(df)

    # Identify duplicate rows across the entire DataFrame (not ignoring any columns)
    duplicate_counts = df.duplicated().sum()

    print(" -------- Number of Duplicated Rows ----------- ")
    print(duplicate_counts)

    # Remove duplicate rows
    df_cleaned = df[~df.duplicated()]

    # Debug: After duplicate removal
    print("DataFrame after removing duplicates:")
    display(df_cleaned)

    return df_cleaned

In [86]:
def conversion_str_to_int(df, start_col=1):
    """
    Converts all string values in the specified columns of a DataFrame to integers.

    This function processes all columns starting from the given index (start_col) 
    and converts string representations of numbers to integers by removing any 
    non-numeric characters, including commas.

    Args:
        df (pd.DataFrame): The DataFrame to process.
        start_col (int): The starting column index to apply the transformation. Defaults to 0.

    Returns:
        pd.DataFrame: The DataFrame with converted values.
    """
    def safe_conversion(x):
        # Remove non-digit characters
        cleaned = re.sub(r'[^0-9]', '', str(x))
        # Convert to integer if cleaned is not empty, else default to 0
        return int(cleaned) if cleaned else 0

    # Apply the conversion only to the specified columns
    for col in df.columns[start_col:]:
        df[col] = df[col].apply(safe_conversion)

    return df

In [89]:
def remove_outliers(df: pd.DataFrame) -> tuple[pd.DataFrame, pd.DataFrame]:
    """
    Removes rows containing outliers based on the IQR method and rows with zero immigration values 
    in any country of citizenship column.

    This function:
    1. Uses the IQR method to calculate outlier thresholds for numeric columns.
    2. Identifies rows with outliers or zero immigration values in any country of citizenship column.
    3. Displays the rows that are being removed.
    4. Returns both a cleaned DataFrame and a DataFrame containing the removed rows.

    Args:
        df (pd.DataFrame): The input DataFrame to process.

    Returns:
        tuple: A tuple containing:
            - pd.DataFrame: The cleaned DataFrame with outliers and zero immigration rows removed.
            - pd.DataFrame: A DataFrame containing the rows with zero immigration.
    """
    # Calculate IQR for numeric columns
    
    print(" -------- Actual Data Frame --------- ")
    display(df)
    
    Q1 = df.iloc[:, 1:].quantile(0.25)
    Q3 = df.iloc[:, 1:].quantile(0.75)
    IQR = Q3 - Q1

    # Define bounds for outliers
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # Identify rows with outliers
    mask_outliers = ((df.iloc[:, 1:] < lower_bound) | (df.iloc[:, 1:] > upper_bound)).any(axis=1)

    # Identify rows with zero immigration in any "country of citizenship" column
    mask_zero_any_country = (df.iloc[:, 1:].filter(like='Citizenship of Country') == 0).any(axis=1)

    # Combine both conditions for rows to remove
    rows_to_remove = mask_outliers | mask_zero_any_country

    # Extract rows being removed into a new DataFrame
    removed_rows_df = df[rows_to_remove]

    # Display rows being removed
    print(" -------- Rows Removed (Outliers or Zero Immigration in Citizenship Columns) --------- ")
    display(removed_rows_df)

    # Remove rows from the original DataFrame
    df_cleaned = df[~rows_to_remove]
    
    print('----------- Cleaned Data Frame, After Removing Outliers ------------')
    display(df_cleaned)
    
    # Return cleaned DataFrame and DataFrame of removed rows
    return df_cleaned, removed_rows_df

In [73]:
def data_processing(f):
    """
    Process the data from the given file.

    This function loads data from an Excel file, cleans it by replacing 
    blank values and invalid entries with zeros, converts string 
    representations of numbers to integers, removes duplicate rows, 
    and generates a detailed report before and after the cleaning process.

    Args:
        f (str): The file path of the data to be processed.

    Returns:
        tuple: A tuple containing the original DataFrame and the cleaned DataFrame.
    """
    # Load the data from the given file
    df = load(f)

    # Generate and display a detailed report of the raw data
    print('--------- Raw Data Report ------------')
    detail_report(df)

    # Replace blank and invalid values with zeros
    cleaned_df = replace_blank_with_zero(df)

    # Convert string values to integers in numerical columns
    cleaned_df = conversion_str_to_int(cleaned_df)

    # Remove duplicate rows from the DataFrame
    # cleaned_df = duplicate_rows(cleaned_df)

    # Generate and display a detailed report for the cleaned data
    print('--------- Cleaned Data Report ------------')
    detail_report(cleaned_df)

    # Return both the original and cleaned DataFrames
    return cleaned_df

In [74]:
def save_toexcel(df: pd.DataFrame, file_name: str):
    """
    Saves a given DataFrame to an Excel file without adding the index.

    Args:
        df (pd.DataFrame): The DataFrame to be saved.
        file_name (str): The name (with path) of the Excel file to save the DataFrame to.
    
    Returns:
        None: Saves the file directly to the specified path.
    """
    df.to_excel(file_name, index=False)

In [75]:
def map_country_name_with_index(df, cleaned_df):
    """
    Maps the 'Citizenship of Country' column from the original DataFrame (df)
    to the corresponding indices in the cleaned DataFrame (cleaned_df).

    Args:
        df (pd.DataFrame): The original DataFrame containing the 'Citizenship of Country' column.
        cleaned_df (pd.DataFrame): The cleaned DataFrame where the mapping will be stored.

    Returns:
        pd.DataFrame: The cleaned DataFrame with a new column 'Mapped Country' containing
                      the mapped country names based on the original DataFrame.
    """
    # Ensure the column exists in the original DataFrame
    if 'Country of Citizenship' not in df.columns:
        raise KeyError("'Citizenship of Country' column is not present in the original DataFrame.")

    # Map the 'Country of Citizenship' column using proper .loc syntax
    try:
        for index in cleaned_df.index:
            # Map the 'Country of Citizenship' column using .loc
            cleaned_df.loc[index, 'Country of Citizenship'] = df.loc[index, 'Country of Citizenship']
    except KeyError as e:
        print("Error during mapping. Cleaned DataFrame indices may not match original DataFrame indices.")
        raise e


    print('----------- Cleaned Data Frame, After Mapping Country Names ------------')
    display(cleaned_df)

    return cleaned_df

In [82]:
def remove_rows_with_zero_immigration(df):
    """
    Removes rows from the DataFrame that contain zero in at least one column.

    Args:
        df (pd.DataFrame): The input DataFrame to process.

    Returns:
        pd.DataFrame: The DataFrame with rows containing zero removed.
    """
    # Filter rows where no column contains 0
    zero_mask = (df.iloc[:, 1:] == 0).any(axis=1)
    df_cleaned = df[~zero_mask]

    # df_cleaned = df[(df != 0).all(axis=1)]

    return df_cleaned

#### Education visa

In [84]:
def clean_and_save_study_visa_data(file_path: str):
    """
    Processes the study visa data from the given file path.

    This function performs the following steps:
    1. Loads the data using the data_processing function.
    2. Removes outliers and rows with zero immigration values using the remove_outliers function.
    3. Saves the cleaned DataFrame to a new Excel file.

    Args:
        file_path (str): The path of the file to process.

    Returns:
        None
    """
    # Load and clean the data from the specified file
    df = data_processing(file_path)

    display(df)
    # remove rows, if any exist with zero immigration
    df_cleaned = remove_rows_with_zero_immigration(df)

    # Remove outliers and rows with zero immigration values in specified columns
    df_cleaned, outlier_df = remove_outliers(df_cleaned)

    df_cleaned = map_country_name_with_index(df, df_cleaned)
    # Construct the cleaned file name by inserting 'cleaned_' before the actual file name
    cleaned_file_name = file_path.replace('.xlsx', '_cleaned.xlsx')

    # Save the cleaned DataFrame to the new Excel file
    save_toexcel(df_cleaned, cleaned_file_name)

countrywise

In [90]:
# Load and clean the data from the specified file
clean_and_save_study_visa_data('data/education visa/education_visa_countrywise.xlsx')

--------- Raw Data Report ------------

 Rows - 225 and Columns - 25

--------- First 10 Rows ------------

,Country of Citizenship,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Afghanistan,255,210,135,65,45,45,30,40,55,...,130,110,130,115,100,120,115,90,185,195
1,Albania,190,175,160,120,85,70,70,90,120,...,145,175,220,275,365,530,490,435,495,755
2,Algeria,190,195,195,210,220,220,230,330,410,...,"1,250","1,060","1,155","1,400","2,030","3,620","4,205","5,195","7,480","13,335"
3,Andorra,--,--,--,0,0,0,--,--,--,...,10,5,--,--,--,5,--,10,10,--
4,Angola,310,340,290,170,145,40,25,20,65,...,190,95,115,85,75,135,55,50,85,110
5,Anguilla,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,--,0,0,0,0
6,Antigua and Barbuda,85,85,90,90,95,90,100,85,90,...,95,110,130,155,180,180,150,130,140,140
7,Argentina,480,575,490,330,295,260,215,190,160,...,195,210,260,280,340,400,345,635,865,905
8,Armenia,20,15,20,25,30,30,25,20,15,...,40,30,45,35,35,40,30,45,75,100
9,Aruba,0,0,0,0,0,0,0,0,0,...,0,0,0,0,--,--,--,10,10,10

--------- Last 10 Rows -------------

,Country of Citizenship,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
215,Venezuela,630,800,685,590,595,605,650,800,810,...,"2,250","1,980","1,925","1,675","1,240",875,690,625,815,940
216,Vietnam,615,825,"1,105","1,655","1,750","1,695","1,475","1,380","1,570",...,"4,720","4,850","7,435","13,900","20,140","21,480","18,815","16,155","16,045","17,175"
217,"Virgin Islands, British",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,--,--,--
218,Western Sahara,0,0,0,0,0,0,0,0,0,...,0,0,0,0,--,--,0,0,0,0
219,Yemen,115,135,155,165,195,250,250,270,265,...,310,295,300,365,420,420,395,265,250,265
220,Zambia,65,100,110,120,150,200,235,270,290,...,250,235,235,230,230,230,215,210,255,315
221,Zimbabwe,120,330,430,290,230,220,255,305,305,...,525,630,890,980,960,880,755,825,"1,045","1,425"
222,Other Countries,"1,360",330,185,150,130,125,135,120,75,...,75,55,50,45,25,10,--,--,--,--
223,Country of Citizenship not stated,115,120,115,135,95,90,130,165,190,...,285,190,95,30,5,5,--,0,0,0
224,Total unique persons,"122,620","145,900","158,080","164,435","168,540","170,395","172,285","179,055","184,095",...,"330,090","352,305","410,545","490,745","566,935","637,780","527,195","616,585","804,370","1,040,985"

--------- DataFrame Info ----------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225 entries, 0 to 224
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country of Citizenship  225 non-null    object
 1   2000                    225 non-null    object
 2   2001                    225 non-null    object
 3   2002                    225 non-null    object
 4   2003                    225 non-null    object
 5   2004                    225 non-null    object
 6   2005                    225 non-null    object
 7   2006                    225 non-null    object
 8   2007                    225 non-null    object
 9   2008                    225 non-null    object
 10  2009                    225 non-null    object
 11  2010                    225 non-null    object
 12  2011                    225 non-null    object
 13  2012                    225 non-null    object
 14  2013                    225 non-null    object
 15  2014                    225 non-null    object
 16  2015                    225 non-null    object
 17  2016                    225 non-null    object
 18  2017                    225 non-null    object
 19  2018                    225 non-null    object
 20  2019                    225 non-null    object
 21  2020                    225 non-null    object
 22  2021                    225 non-null    object
 23  2022                    225 non-null    object
 24  2023                    225 non-null    object
dtypes: object(25)
memory usage: 44.1+ KB

None

---------- describe ---------

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
count,225,225,225,225,225,225,225,225,225,225,...,225,225,225,225,225,225,225,225,225,225
unique,100,109,109,98,99,95,101,97,106,109,...,112,117,121,126,123,131,124,128,135,142
top,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,--,--,0,0,0
freq,32,32,30,32,33,33,33,35,31,33,...,32,32,32,31,22,22,25,20,19,20

 -------- Rows Changed (After Replacement) -------

,Country of Citizenship,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
3,Andorra,--,--,--,0,0,0,--,--,--,...,10,5,--,--,--,5,--,10,10,--
5,Anguilla,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,--,0,0,0,0
9,Aruba,0,0,0,0,0,0,0,0,0,...,0,0,0,0,--,--,--,10,10,10
21,Bermuda,0,0,0,0,0,0,0,0,0,...,0,0,0,0,--,55,60,95,80,65
24,"Bonaire, Sin Eustatius And Saba",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,--,--,0,0,0
34,Cape Verde Islands,5,--,5,10,10,5,5,10,10,...,5,5,5,10,10,10,5,5,5,5
35,Cayman Islands,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,--,--,10,10,10
41,Comoros,5,10,10,10,10,10,10,5,--,...,15,10,15,15,20,25,25,30,35,50
47,Curacao,0,0,0,0,0,0,0,0,0,...,0,0,0,0,--,--,--,--,--,--
54,"East Timor, Democratic Republic of",0,0,0,0,0,0,0,--,--,...,0,0,0,0,0,0,--,--,--,--
58,"Equatorial Guinea, Republic of",10,25,20,10,10,5,10,10,5,...,10,5,10,30,30,20,15,15,15,20
65,French Guiana,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,--,--,0,0,0
66,French Polynesia,0,0,0,0,0,0,0,0,0,...,0,0,0,0,--,25,25,60,40,35
74,Guadeloupe,0,0,0,0,0,0,0,0,0,...,0,0,0,0,--,--,5,5,--,--
77,Guinea-Bissau,--,--,--,--,--,--,--,--,5,...,--,--,--,5,10,--,--,5,10,10
80,Holy See,0,0,--,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98,Kiribati,--,0,--,--,--,--,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99,"Korea, People's Democratic Republic of",15,15,10,15,10,10,15,10,10,...,25,15,10,15,15,5,5,--,--,--
101,"Kosovo, Republic of",0,0,0,0,0,0,0,0,--,...,50,50,55,40,50,55,60,70,85,115
110,Liechtenstein,--,--,--,--,--,--,--,0,--,...,0,0,--,5,--,--,--,--,0,--
118,"Maldives, Republic of",10,10,15,15,20,25,20,15,10,...,10,5,10,10,10,10,5,10,10,10
120,Malta,15,20,10,10,15,10,10,10,5,...,--,5,5,--,5,10,10,10,15,15
121,"Marshall Islands, Republic of the",0,0,--,--,--,--,0,0,0,...,--,--,0,0,0,--,--,0,--,--
122,Martinique,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,--,--,--,0
126,"Micronesia, Federated States of",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,--,--
128,Monaco,--,--,--,--,--,--,--,--,5,...,5,5,10,5,--,5,--,--,5,10
130,"Montenegro, Republic of",0,0,0,0,0,0,0,0,--,...,--,5,5,5,5,5,5,45,55,90
135,Nauru,--,--,--,--,--,--,--,--,--,...,0,0,0,0,0,0,0,0,0,0
137,"Netherlands Antilles, The",0,0,0,0,0,0,0,0,0,...,0,0,0,0,--,--,--,--,--,--
139,Nevis,0,0,0,--,5,5,--,5,--,...,0,0,0,0,0,0,0,0,0,0
140,New Caledonia,--,--,5,5,--,--,--,0,0,...,5,10,10,15,10,--,--,--,--,--
145,"Northern Mariana Islands, Commonwealth of the",--,--,--,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
149,"Palau, Republic of",0,0,0,0,0,0,--,0,0,...,0,0,--,--,0,--,--,--,--,0
151,Panama Canal Zone,0,--,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
153,Papua New Guinea,--,5,10,10,5,5,10,5,--,...,5,10,10,10,5,5,5,5,5,5
160,Reunion,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,--,--,--,0,0
164,Saint-Martin,0,0,0,0,0,0,0,0,0,...,0,0,0,0,--,--,--,0,--,--
165,"Samoa, American",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
166,"Samoa, Independent State of",5,5,5,--,--,--,--,--,--,...,0,0,0,--,0,0,0,0,0,0
167,San Marino,0,0,0,0,0,0,0,0,0,...,0,0,--,0,--,--,--,0,0,0
168,Sao Tome and Principe,0,0,0,0,0,0,0,0,0,...,--,5,0,--,--,0,0,0,0,0
172,Seychelles,10,10,5,10,5,5,5,5,5,...,--,5,5,5,10,--,--,--,--,--
175,Sint-Maarten,0,0,0,0,0,0,0,0,0,...,0,0,0,0,--,--,0,5,5,5
178,Solomon Islands,--,--,--,--,--,--,--,0,--,...,--,10,10,15,15,10,10,10,10,10
181,"South Sudan, Republic of",0,0,0,0,0,0,0,0,0,...,5,10,15,15,15,20,15,10,15,30
195,Tajikistan,5,5,--,--,--,5,10,10,10,...,15,15,20,30,35,35,35,45,60,115
199,Tonga,10,10,10,5,5,--,--,--,--,...,--,--,--,--,--,0,--,--,0,0
203,Turkmenistan,--,5,5,--,5,5,5,--,--,...,10,15,20,15,30,25,25,20,10,30
204,Turks and Caicos Islands,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,--,--
205,Tuvalu,--,--,--,--,0,0,0,0,0,...,0,0,0,0,0,--,--,0,0,0
210,United States Minor Outlying Islands,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,--,--,--,--,--
214,Vanuatu,--,--,--,--,--,--,--,--,--,...,--,--,0,0,--,--,--,--,--,5
217,"Virgin Islands, British",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,--,--,--
218,Western Sahara,0,0,0,0,0,0,0,0,0,...,0,0,0,0,--,--,0,0,0,0
222,Other Countries,"1,360",330,185,150,130,125,135,120,75,...,75,55,50,45,25,10,--,--,--,--
223,Country of Citizenship not stated,115,120,115,135,95,90,130,165,190,...,285,190,95,30,5,5,--,0,0,0

----------- Cleaned Data Frame ------------

,Country of Citizenship,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Afghanistan,255,210,135,65,45,45,30,40,55,...,130,110,130,115,100,120,115,90,185,195
1,Albania,190,175,160,120,85,70,70,90,120,...,145,175,220,275,365,530,490,435,495,755
2,Algeria,190,195,195,210,220,220,230,330,410,...,"1,250","1,060","1,155","1,400","2,030","3,620","4,205","5,195","7,480","13,335"
3,Andorra,0,0,0,0,0,0,0,0,0,...,10,5,0,0,0,5,0,10,10,0
4,Angola,310,340,290,170,145,40,25,20,65,...,190,95,115,85,75,135,55,50,85,110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,Zambia,65,100,110,120,150,200,235,270,290,...,250,235,235,230,230,230,215,210,255,315
221,Zimbabwe,120,330,430,290,230,220,255,305,305,...,525,630,890,980,960,880,755,825,"1,045","1,425"
222,Other Countries,"1,360",330,185,150,130,125,135,120,75,...,75,55,50,45,25,10,0,0,0,0
223,Country of Citizenship not stated,115,120,115,135,95,90,130,165,190,...,285,190,95,30,5,5,0,0,0,0
224,Total unique persons,"122,620","145,900","158,080","164,435","168,540","170,395","172,285","179,055","184,095",...,"330,090","352,305","410,545","490,745","566,935","637,780","527,195","616,585","804,370","1,040,985"

--------- Cleaned Data Report ------------

 Rows - 225 and Columns - 25

--------- First 10 Rows ------------

,Country of Citizenship,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Afghanistan,255,210,135,65,45,45,30,40,55,...,130,110,130,115,100,120,115,90,185,195
1,Albania,190,175,160,120,85,70,70,90,120,...,145,175,220,275,365,530,490,435,495,755
2,Algeria,190,195,195,210,220,220,230,330,410,...,1250,1060,1155,1400,2030,3620,4205,5195,7480,13335
3,Andorra,0,0,0,0,0,0,0,0,0,...,10,5,0,0,0,5,0,10,10,0
4,Angola,310,340,290,170,145,40,25,20,65,...,190,95,115,85,75,135,55,50,85,110
5,Anguilla,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Antigua and Barbuda,85,85,90,90,95,90,100,85,90,...,95,110,130,155,180,180,150,130,140,140
7,Argentina,480,575,490,330,295,260,215,190,160,...,195,210,260,280,340,400,345,635,865,905
8,Armenia,20,15,20,25,30,30,25,20,15,...,40,30,45,35,35,40,30,45,75,100
9,Aruba,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,10,10,10

--------- Last 10 Rows -------------

,Country of Citizenship,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
215,Venezuela,630,800,685,590,595,605,650,800,810,...,2250,1980,1925,1675,1240,875,690,625,815,940
216,Vietnam,615,825,1105,1655,1750,1695,1475,1380,1570,...,4720,4850,7435,13900,20140,21480,18815,16155,16045,17175
217,"Virgin Islands, British",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
218,Western Sahara,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
219,Yemen,115,135,155,165,195,250,250,270,265,...,310,295,300,365,420,420,395,265,250,265
220,Zambia,65,100,110,120,150,200,235,270,290,...,250,235,235,230,230,230,215,210,255,315
221,Zimbabwe,120,330,430,290,230,220,255,305,305,...,525,630,890,980,960,880,755,825,1045,1425
222,Other Countries,1360,330,185,150,130,125,135,120,75,...,75,55,50,45,25,10,0,0,0,0
223,Country of Citizenship not stated,115,120,115,135,95,90,130,165,190,...,285,190,95,30,5,5,0,0,0,0
224,Total unique persons,122620,145900,158080,164435,168540,170395,172285,179055,184095,...,330090,352305,410545,490745,566935,637780,527195,616585,804370,1040985

--------- DataFrame Info ----------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225 entries, 0 to 224
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country of Citizenship  225 non-null    object
 1   2000                    225 non-null    int64
 2   2001                    225 non-null    int64
 3   2002                    225 non-null    int64
 4   2003                    225 non-null    int64
 5   2004                    225 non-null    int64
 6   2005                    225 non-null    int64
 7   2006                    225 non-null    int64
 8   2007                    225 non-null    int64
 9   2008                    225 non-null    int64
 10  2009                    225 non-null    int64
 11  2010                    225 non-null    int64
 12  2011                    225 non-null    int64
 13  2012                    225 non-null    int64
 14  2013                    225 non-null    int64
 15  2014                    225 non-null    int64
 16  2015                    225 non-null    int64
 17  2016                    225 non-null    int64
 18  2017                    225 non-null    int64
 19  2018                    225 non-null    int64
 20  2019                    225 non-null    int64
 21  2020                    225 non-null    int64
 22  2021                    225 non-null    int64
 23  2022                    225 non-null    int64
 24  2023                    225 non-null    int64
dtypes: int64(24), object(1)
memory usage: 44.1+ KB

None

---------- describe ---------

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
count,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,...,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,225.000000,2.250000e+02
mean,1089.955556,1296.733333,1404.977778,1461.600000,1497.911111,1514.400000,1531.444444,1591.377778,1636.377778,1812.822222,...,2934.044444,3131.488889,3649.377778,4362.111111,5039.111111,5668.955556,4685.955556,5480.422222,7149.844444,9.252978e+03
std,8346.132806,9982.227371,10890.826348,11395.099466,11701.425388,11831.414391,11970.855952,12430.310426,12760.876212,14138.371789,...,23297.114266,24970.357058,29138.154330,34926.084410,40518.542530,45805.597411,37836.950892,44020.627487,57932.766029,7.519870e+04
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
25%,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,15.000000,...,20.000000,15.000000,20.000000,20.000000,20.000000,25.000000,20.000000,25.000000,25.000000,2.500000e+01
50%,80.000000,95.000000,95.000000,85.000000,85.000000,80.000000,75.000000,75.000000,90.000000,100.000000,...,130.000000,125.000000,130.000000,145.000000,160.000000,155.000000,135.000000,185.000000,185.000000,2.050000e+02
75%,325.000000,355.000000,350.000000,300.000000,285.000000,295.000000,295.000000,330.000000,335.000000,345.000000,...,520.000000,520.000000,605.000000,670.000000,725.000000,785.000000,710.000000,865.000000,995.000000,1.190000e+03
max,122620.000000,145900.000000,158080.000000,164435.000000,168540.000000,170395.000000,172285.000000,179055.000000,184095.000000,203960.000000,...,330090.000000,352305.000000,410545.000000,490745.000000,566935.000000,637780.000000,527195.000000,616585.000000,804370.000000,1.040985e+06

checking

,Country of Citizenship,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Afghanistan,255,210,135,65,45,45,30,40,55,...,130,110,130,115,100,120,115,90,185,195
1,Albania,190,175,160,120,85,70,70,90,120,...,145,175,220,275,365,530,490,435,495,755
2,Algeria,190,195,195,210,220,220,230,330,410,...,1250,1060,1155,1400,2030,3620,4205,5195,7480,13335
3,Andorra,0,0,0,0,0,0,0,0,0,...,10,5,0,0,0,5,0,10,10,0
4,Angola,310,340,290,170,145,40,25,20,65,...,190,95,115,85,75,135,55,50,85,110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,Zambia,65,100,110,120,150,200,235,270,290,...,250,235,235,230,230,230,215,210,255,315
221,Zimbabwe,120,330,430,290,230,220,255,305,305,...,525,630,890,980,960,880,755,825,1045,1425
222,Other Countries,1360,330,185,150,130,125,135,120,75,...,75,55,50,45,25,10,0,0,0,0
223,Country of Citizenship not stated,115,120,115,135,95,90,130,165,190,...,285,190,95,30,5,5,0,0,0,0
224,Total unique persons,122620,145900,158080,164435,168540,170395,172285,179055,184095,...,330090,352305,410545,490745,566935,637780,527195,616585,804370,1040985

 -------- Actual Data Frame ---------

,Country of Citizenship,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Afghanistan,255,210,135,65,45,45,30,40,55,...,130,110,130,115,100,120,115,90,185,195
1,Albania,190,175,160,120,85,70,70,90,120,...,145,175,220,275,365,530,490,435,495,755
2,Algeria,190,195,195,210,220,220,230,330,410,...,1250,1060,1155,1400,2030,3620,4205,5195,7480,13335
4,Angola,310,340,290,170,145,40,25,20,65,...,190,95,115,85,75,135,55,50,85,110
6,Antigua and Barbuda,85,85,90,90,95,90,100,85,90,...,95,110,130,155,180,180,150,130,140,140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,Vietnam,615,825,1105,1655,1750,1695,1475,1380,1570,...,4720,4850,7435,13900,20140,21480,18815,16155,16045,17175
219,Yemen,115,135,155,165,195,250,250,270,265,...,310,295,300,365,420,420,395,265,250,265
220,Zambia,65,100,110,120,150,200,235,270,290,...,250,235,235,230,230,230,215,210,255,315
221,Zimbabwe,120,330,430,290,230,220,255,305,305,...,525,630,890,980,960,880,755,825,1045,1425
224,Total unique persons,122620,145900,158080,164435,168540,170395,172285,179055,184095,...,330090,352305,410545,490745,566935,637780,527195,616585,804370,1040985

 -------- Rows Removed (Outliers or Zero Immigration in Citizenship Columns) ---------

,Country of Citizenship,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
2,Algeria,190,195,195,210,220,220,230,330,410,...,1250,1060,1155,1400,2030,3620,4205,5195,7480,13335
10,Australia,1030,1210,1000,835,770,820,760,820,765,...,845,745,710,705,710,665,480,520,595,605
15,Bangladesh,600,920,1275,1560,1735,1715,1650,1550,1570,...,2565,2685,3060,4230,6405,8375,7735,9860,12250,15820
27,Brazil,1485,1615,1300,1085,1180,1345,1525,1945,2385,...,8855,7450,9310,11790,13745,14490,11005,11055,14415,15615
33,"Cameroon, Federal Republic of",415,520,510,535,520,495,530,580,585,...,1595,1790,1865,1840,2000,2500,2260,2550,4055,8095
39,"China, People's Republic of",12205,21985,31245,37400,39910,39980,39945,41085,43085,...,107810,117830,131050,139515,141715,140535,116150,104370,99470,102150
40,Colombia,1370,1745,2130,1715,1655,1300,925,975,1200,...,1485,1565,2005,2850,3995,5580,4805,8050,12400,15205
64,France,6475,6925,6425,6555,6680,6965,8145,9020,9400,...,18900,20205,20700,21830,22500,23845,18200,26380,27010,26980
70,Germany,2150,2305,2245,2135,2290,2450,2590,2950,3145,...,2510,2455,2650,2730,2905,2945,1465,4985,4050,3005
71,Ghana,630,700,690,640,570,515,435,465,465,...,1095,1370,1510,1535,1555,2050,1870,1840,3455,9235
82,Hong Kong SAR,695,1080,1485,1780,2195,2570,2850,2980,3030,...,3190,3420,3745,3965,4030,4040,4200,7585,13055,14115
85,India,2210,3005,4520,6205,6700,7155,7450,7905,8270,...,38420,48755,76070,123110,171500,218520,179480,216360,318380,427085
86,"Indonesia, Republic of",1110,1175,1320,1615,1650,1580,1410,1310,1195,...,1195,1295,1425,1585,1935,2190,1780,2265,2720,3030
87,Iran,1085,1125,1250,1555,2110,2555,2340,2385,2640,...,4620,4505,5115,7305,10505,14610,13970,16830,21040,24960
94,Japan,9655,10305,9600,9140,8980,9055,8305,7660,6585,...,6840,7155,7815,7955,8325,8455,5315,8825,12085,10280
100,"Korea, Republic of",15795,20735,23970,25885,26680,27580,29530,30660,28965,...,19175,19785,21205,22935,24045,24090,18070,15710,16430,15930
109,Libya,510,390,295,485,530,515,495,440,520,...,2150,1545,1350,1180,970,755,660,480,405,410
117,Malaysia,1145,1055,990,1015,960,930,860,880,1030,...,1395,1315,1335,1405,1470,1455,1155,1135,1135,1105
125,Mexico,3645,4385,3680,3305,3380,3605,3835,3845,3865,...,5090,5165,5990,6900,7795,8670,6395,11450,14835,16980
131,Morocco,1545,1665,1640,1555,1490,1560,1720,1925,2110,...,2275,2330,2430,2770,3370,4510,4520,5855,7185,10310
136,Nepal,80,125,120,120,120,125,150,170,175,...,250,270,345,530,775,1155,1120,2160,7680,20465
144,Nigeria,565,660,800,1120,1345,1560,1645,1920,2185,...,8375,9915,10625,10775,11150,11870,10515,13525,21555,45965
148,Pakistan,2065,2195,2020,1860,1835,1790,1835,1910,2035,...,4025,4005,4165,4020,3920,4005,3440,4640,6370,8135
156,Philippines,375,455,525,585,510,540,525,710,870,...,1810,1980,3325,3925,5025,7730,7225,15280,32320,48870
162,Russia,785,795,755,750,785,865,905,1065,1330,...,3220,2870,2760,2615,2540,2585,2110,2495,2340,2885
169,Saudi Arabia,360,440,525,685,875,1125,1255,2010,4460,...,13515,11685,9095,7610,5075,2590,1275,865,735,700
183,Sri Lanka,955,930,1070,890,695,570,500,545,540,...,520,525,670,805,975,1480,1650,2645,5030,8075
194,Taiwan,5965,5860,5895,5380,5250,4925,4850,4680,4115,...,3270,3210,3710,4075,4680,5005,3960,3800,4230,4930
201,Tunisia,955,1165,1290,1195,1020,920,870,910,995,...,1735,1750,1805,1860,1960,2175,2155,2425,3250,4865
202,Turkey,680,965,1145,1035,1115,1175,1190,1260,1300,...,1935,2195,2840,3785,4315,4685,3535,4775,4900,5750
207,Ukraine,415,445,435,380,370,355,375,430,525,...,1880,2145,2655,2795,2695,2495,1925,1940,7125,10905
209,United Kingdom and Overseas Territories,8490,8525,7935,7170,6485,5770,5220,4855,4530,...,3300,3260,3320,3480,3370,3190,2165,3195,3465,3195
211,United States of America,11825,12905,12740,12540,12795,13105,12880,12780,12155,...,12250,12115,12680,13715,14365,14815,12570,14105,14350,14825
215,Venezuela,630,800,685,590,595,605,650,800,810,...,2250,1980,1925,1675,1240,875,690,625,815,940
216,Vietnam,615,825,1105,1655,1750,1695,1475,1380,1570,...,4720,4850,7435,13900,20140,21480,18815,16155,16045,17175
224,Total unique persons,122620,145900,158080,164435,168540,170395,172285,179055,184095,...,330090,352305,410545,490745,566935,637780,527195,616585,804370,1040985

----------- Cleaned Data Frame, After Removing Outliers ------------

,Country of Citizenship,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Afghanistan,255,210,135,65,45,45,30,40,55,...,130,110,130,115,100,120,115,90,185,195
1,Albania,190,175,160,120,85,70,70,90,120,...,145,175,220,275,365,530,490,435,495,755
4,Angola,310,340,290,170,145,40,25,20,65,...,190,95,115,85,75,135,55,50,85,110
6,Antigua and Barbuda,85,85,90,90,95,90,100,85,90,...,95,110,130,155,180,180,150,130,140,140
7,Argentina,480,575,490,330,295,260,215,190,160,...,195,210,260,280,340,400,345,635,865,905
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,Uruguay,35,55,70,55,50,40,35,30,30,...,20,15,20,40,50,70,65,75,65,65
213,Uzbekistan,20,25,15,20,30,30,30,35,35,...,45,50,50,55,50,65,55,70,115,280
219,Yemen,115,135,155,165,195,250,250,270,265,...,310,295,300,365,420,420,395,265,250,265
220,Zambia,65,100,110,120,150,200,235,270,290,...,250,235,235,230,230,230,215,210,255,315
221,Zimbabwe,120,330,430,290,230,220,255,305,305,...,525,630,890,980,960,880,755,825,1045,1425

----------- Cleaned Data Frame, After Mapping Country Names ------------

,Country of Citizenship,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Afghanistan,255,210,135,65,45,45,30,40,55,...,130,110,130,115,100,120,115,90,185,195
1,Albania,190,175,160,120,85,70,70,90,120,...,145,175,220,275,365,530,490,435,495,755
4,Angola,310,340,290,170,145,40,25,20,65,...,190,95,115,85,75,135,55,50,85,110
6,Antigua and Barbuda,85,85,90,90,95,90,100,85,90,...,95,110,130,155,180,180,150,130,140,140
7,Argentina,480,575,490,330,295,260,215,190,160,...,195,210,260,280,340,400,345,635,865,905
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,Uruguay,35,55,70,55,50,40,35,30,30,...,20,15,20,40,50,70,65,75,65,65
213,Uzbekistan,20,25,15,20,30,30,30,35,35,...,45,50,50,55,50,65,55,70,115,280
219,Yemen,115,135,155,165,195,250,250,270,265,...,310,295,300,365,420,420,395,265,250,265
220,Zambia,65,100,110,120,150,200,235,270,290,...,250,235,235,230,230,230,215,210,255,315
221,Zimbabwe,120,330,430,290,230,220,255,305,305,...,525,630,890,980,960,880,755,825,1045,1425

provincewise

In [79]:
# Call the function
# clean_and_save_study_visa_data('data/education visa/education_visa_provincewise.xlsx')